.container {
    margin-top: 40px;
}

#documentTable tr td {
    padding: 2px;
    border: none;
    display: block;
    width: 90%;
}

#documentTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


