<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Web Application from Archetype for Servlet 3.1</display-name>
	<welcome-file-list>
		<welcome-file>index-mvc2.html</welcome-file>
		<welcome-file>student-form.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Define some confi parameters -->
	<context-param>
		<param-name>max-shopping-cart</param-name>
		<param-value>99</param-value>
	</context-param>
	<context-param>
		<param-name>project-team-name</param-name>
		<param-value>The Coding Gurus</param-value>
	</context-param>

    <servlet>
      <servlet-name>TestParamServlet</servlet-name>
      <servlet-class>TestParamServlet</servlet-class>
 
      <init-param>
        <param-name>greeting</param-name>
        <param-value>Welcome</param-value>
      </init-param>
 
      <init-param>
        <param-name>serviceLevel</param-name>
        <param-value>Platinum</param-value>
      </init-param>
    </servlet>  
	  <servlet-mapping>
		<servlet-name>TestParamServlet</servlet-name>
		<url-pattern>/demo</url-pattern>
   	  </servlet-mapping>
	
</web-app>
